@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --black-icon-invert: 0%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --black-icon-invert: 100%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .prefer-border-color {
    border-color: rgb(var(--foreground-rgb));
  }

  .prefer-icon-invert {
    filter: invert(var(--black-icon-invert))
  }

  .currently-achievable {
    overflow: hidden;
  }

  .not-achievables {
    opacity: 0.7;
  }

  .waiting-for-guided {
    opacity: 0.5;
  }

  .metalic-border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: calc(100% - 0.25rem);
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(174deg, rgb(210, 197, 179), rgb(148, 128, 92), rgb(148, 128, 92), rgb(148, 128, 92));
    box-shadow: inset 0 0 3px black;
    z-index: -1;
    overflow: hidden;
  }

  .sightseeing-log-container {
    position: relative;
    background: linear-gradient(180deg, rgb(140, 129, 128), rgb(51, 48, 49), rgb(51, 48, 49), rgb(51, 48, 49), rgb(51, 48, 49));
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 3px black;
    border: 1px solid black;
    overflow: hidden;
  }

    .currently-achievable .sightseeing-log-container::before {
      position: absolute;
      content: '';
      width: 120%;
      height: 80px;
      top: -35px;
      right: -10px;
      transform: rotate(5deg);
      opacity: 0.7;
      background: linear-gradient(180deg, rgb(210, 205, 169), rgb(210, 205, 169), transparent);
    }

    .currently-achievable .sightseeing-log-container::after {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      top: 20px;
      right: 25px;
      opacity: 0.5;
      border-radius: 50%;
      background-color: rgb(254, 253, 192);
      box-shadow: 0 0 5px 10px rgb(254, 253, 192);
    }

    .currently-achievable::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: -5px;
      right: 70px;
      opacity: 0.6;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0 0 5px 7px white;
      z-index: 11;
    }
  
    .currently-achievable::after {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      top: 40px;
      right: 15px;
      opacity: 0.8;
      border-radius: 50%;
      background-color: rgb(255, 255, 220);
      box-shadow: 0 0 5px 5px rgb(255, 255, 220);
      z-index: 11;
    }

  .card-divider-h {
    width: 100%;
    height: 3px;
    background: linear-gradient(180deg, rgb(51, 48, 49), black, rgb(51, 48, 49));
    border: 0.5px solid;
    border-top-color: rgb(68, 64, 85);
    border-right-color: transparent;
    border-bottom-color: rgb(79, 77, 78);
    border-left-color: transparent;
  }

  .card-divider-v {
    width: 3px;
    background: linear-gradient(90deg, rgb(51, 48, 49), black, rgb(51, 48, 49));
    border: 0.5px solid;
    border-top-color: transparent;
    border-right-color: rgb(109, 108, 108);
    border-bottom-color: transparent;
    border-left-color: rgb(51, 48, 49);
  }

  .menu-button {
    position: relative;
    width: 45px;
    height: auto;
    padding: 10px 10px;
    padding-left: 15px;
    margin-bottom: 1px;
    border: none;
    cursor: pointer;
    background-color: rgb(var(--background-end-rgb));
    z-index: 21;
  }

  .menu-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(var(--foreground-rgb));
    margin: 6px 0;
    transition: all 0.3s ease;
  }

  .menu-button.open .menu-line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .menu-button.open .menu-line:nth-child(2) {
    opacity: 0;
  }

  .menu-button.open .menu-line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .menu-selected::after {
      content: '';
      position: absolute;
      left: 16px;
      top: 12px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
  }

  .allow-down {
    position: relative;
    width: 20px;
    height: 20px;
  }

  .allow-down::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 5px;
    width: 7px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .completed-animation {
    position: relative;
    animation: completed 0.5s;
  }

  .completed-animation div {
    display: block;
  }

  @keyframes completed {
    0% {
      transform: scale(1);
      background: transparent; 
    }
    50% {
      transform: scale(1.2);
    }
    100% { 
      transform: scale(1);
      background: rgb(34 197 94); 
    }
  }
}
